name: Manually Deploy to Heroku

on: workflow_dispatch

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.12
        with:
          heroku_api_key: "c22e3691-3cd6-4996-bec0-65ae5fa8d2df" ## ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "leech-mirror-eleven-2" ## ${{secrets.HEROKU_APP_NAME}}
          heroku_email: "leechbotac@gmail.com" ${{secrets.HEROKU_EMAIL}}
          usedocker: true
          docker_heroku_process_type: web
          stack: "container"
          region: "us"
        ## env:
        ##  HD_CONFIG_FILE_URL: ${{secrets.CONFIG_FILE_URL}}
